.panel-title {
	font-size: 14px;
}
.main_content {
	background-color: #f8f8f8;
	border-radius: 5px;
	font-family: sans-serif; 
	color: #919496;
}
.table {
	margin-bottom: 0px !important;
}
.table th, .table td { 
     border-top: none !important; 
 }
.income {
	background-color: #FFFFFF;
	margin-top: 8px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	border-radius: 5px;
	color: #919496;
}
.income table tr td {
	font-size: 14px;
	width: 50%;
	text-align: center;
	vertical-align: middle;
	height: 55px;
	color: #919496;
}