<!DOCTYPE html>
	<html>
		<head>
			<meta name="viewport" content="width=device-width">
			<meta name="viewport" content="initial-scale=1.0">
			<title>BYT | Online Budgeting</title>
			<!--my css -->
			<link rel="stylesheet" href="/css/styles.css">	
			<!--angular -->
		    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.js"></script>
		    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular-messages.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
			<!-- Bootstrap and Jquery and Font-awesome needed for accordion-->
			<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
			<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
			<script src="https://use.fontawesome.com/2d126d0983.js"></script>
			<!--my javascript -->
			<script src="/javascripts/angularApp.js"></script>
			<script src="/javascripts/controllers/AuthCtrl.js"></script>
			<script src="/javascripts/controllers/BillsCtrl.js"></script>
			<script src="/javascripts/controllers/DashboardCtrl.js"></script>
			<script src="/javascripts/controllers/IncomeCtrl.js"></script>
			<script src="/javascripts/controllers/MonthlyExpensesCtrl.js"></script>
			<script src="/javascripts/controllers/NavCtrl.js"></script>
			<script src="/javascripts/factories/authFactory.js"></script>
			<script src="/javascripts/factories/billsFactory.js"></script>
			<script src="/javascripts/factories/incomeFactory.js"></script>
			<script src="/javascripts/factories/monthlyExpensesFactory.js"></script>
			<script src="/javascripts/directives/directives.js"></script>				
		</head>
		<body ng-app="Dashboard">
			<section class="container">
				<section class="row" ng-controller="NavCtrl">
					<nav class="navbar navbar-default">
						<ul class="nav navbar-nav">
							<li ng-show="isLoggedIn()"><a>Wassup {{ currentUser() }}</a></li>
							<li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
							<li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
							<li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
						</ul>
					</nav>				
				</section>				
				<section class="row col-md-6 col-md-offset-3 main_content">					
					<ui-view></ui-view>
				</section>
			</section>
			<!--Home-->
			<script type="text/ng-template" id="/home.html">
				<section>
					<a href="https://youtu.be/EbCn4uEfbtM">
						<h4>Tutorial</h4>
					</a>
				</section>
				<section class="page-header">					
					<h3>Build Your Tomorrow (BYT) is an app that allows you to track your income and expenses. By doing so, you'll become more aware of your financial picture and spending habits. You can then use that knowledge to make necessary changes or adjustments.</h3>
				</section>
			</script>
			<!--Register-->
			<script type="text/ng-template" id="/register.html">
				<section class="page-header">
					<h1>Let's budget</h1>
				</section>
				<section ng-show="error" class="alert alert-danger row">
					<span>{{ error.message }}</span>
				</section>
				<form ng-submit="register()" style="margin-top:30px;">
					<h3>Register</h3>
					<section class="form-group">
						<input type="text" class="form-control" placeholder="Username" ng-model="user.username" required>
					</section>
					<section class="form-group">
						<input type="password" class="form-control" placeholder="Password" ng-model="user.password" required>
					</section>
					<button type="submit" class="btn btn-primary">Register</button>
				</form>
			</script>
			<!--Login-->
			<script type="text/ng-template" id="/login.html">
				<section class="page-header">
					<h1>Let's budget</h1>
				</section>
				<section ng-show="error" class="alert alert-danger row">
					<span>{{ error.message }}</span>
				</section>
				<form ng-submit="logIn()" style="margin-top:30px;">
					<h3>Log In</h3>
					<section class="form-group">
					  <input type="text" class="form-control" placeholder="Username" ng-model="user.username" required>
					</section>
					<section class="form-group">
					  <input type="password" class="form-control" placeholder="Password" ng-model="user.password" required>
					</section>
					<button type="submit" class="btn btn-primary">Log In</button>
				</form>
			</script>
			<!--Dashboard stuff -->
			<script type="text/ng-template" id="/dashboard.html">
				<section class="row">					
					<a href="https://youtu.be/EbCn4uEfbtM">Tutorial</a>				
					<section class="dashboard_nav">
						<ul ng-show='{{ isLoggedIn() }}'>
							<li role="presentation" class="dashboard_nav_first"><a href="/#/dashboard">Dashboard</a></li>
							<li role="presentation" class="dashboard_nav_second" ng-click="income_spinner=!income_spinner">
								<a class="" href="/#/income">
									<span ><i ng-class="{'fa fa-refresh fa-spin': income_spinner, '': !income_spinner}"></i></span> Income
								</a>									
							</li>
							<li role="presentation" class="dashboard_nav_third" ng-click="bills_spinner=!bills_spinner">
								<a class="" href="/#/bills">
									<span><i ng-class="{'fa fa-refresh fa-spin': bills_spinner, '': !bills_spinner}"></i></span> Bills
								</a>									
							</li>
							<li role="presentation" class="dashboard_nav_fourth" ng-click="expenses_spinner=!expenses_spinner">
								<a class="" href="/#/expenses">
									<span ><i ng-class="{'fa fa-refresh fa-spin': expenses_spinner, '': !expenses_spinner}"></i></span> Expenses
								</a>									
							</li>
							<!--
							<li role="presentation" class="dashboard_nav_fifth" ng-click="edu_spinner=!edu_spinner">
								<a class="" href="/#/education">
									<span ><i ng-class="{'fa fa-refresh fa-spin': edu_spinner, '': !edu_spinner}"></i></span> Edu
								</a>									
							</li>
							-->
						</ul>	
					</section>
				</section>
				<section class="row animate-show" ng-show="byt_show_section">			
					<section class="table-responsive">
						<section class="dashboard_analysis">
							<table class="table">
								<tbody>
									<tr>										
										<td class="dashboard_text_analysis_1">{{quote}}</td>
									</tr>
								</tbody>
							</table>
						</section>						
					</section>
				</section>
				<section class="row" id="theDashboard">
					<section class="table-responsive">
						<section class="dashboard_overview">
							<i role="button" class="glyphicon glyphicon-question-sign" data-toggle="modal" data-target="#dashboardModal"></i>
							<section id="dashboardModal" class="modal fade" role="dialog">
								<section class="modal-dialog">
									<!-- Modal content-->
									<section class="modal-content">
										<section class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times;</button>
											<h4 class="modal-title">Projections</h4>
										</section>
										<section class="modal-body">
											<iframe width="200" height="180" src="https://www.youtube.com/embed/AEtH7E6g8fc" frameborder="0" allowfullscreen></iframe>
											<p>-----</p>
											<p>At the beginning of the month, take some time and estimate how much income you'll receive, how much in bills you'll pay, and how much in expenses you'll incur for that specific month. Try and under estimate your income and over estimate your bills and expenses so that at the end of the month, you may be pleasantly surprised.</p>
											<p>Then as you progress through the month and record every transaction, compare how much income you've actually received, how much in bills you've actually paid, and how much in expenses you've actually incurred against your projections. A green and positive number in the +/- column in the Income and Savings rows means that you've earned and saved more money than expected which is great.A red and negative number in the +/- column in the Bills and Expenses rows means that you've exceeded your projections for those two buckets which is not ideal.</p>
											<p>Add your projections at the bottom of this page.</p>
										</section>
										<section class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
										</section>
									</section>
								</section>
							</section>
							<table class="table">
								<tbody>
									<tr>
										<td></td>
										<td>Projected</td>
										<td>Actual</td>
										<td>+/-</td>
									</tr>
									<tr>
										<td>Income</td>
										<td>
											<span ng-show="!bytIncomeProjection">{{projectedIncome | number:0}}</span>
											<span ng-show="bytIncomeProjection">												
												<input style="width: 50px; display:inline;" class='form-control input-sm' type='number' name="projectedIncome" ng-model='projectedIncome' required>
											</span>
											<span style="display:inline;" ng-click="bytIncomeProjection = !bytIncomeProjection; editIncomeProjectionFunc()"> <i ng-class="{'glyphicon glyphicon-edit': !bytIncomeProjection, 'glyphicon glyphicon-ok': bytIncomeProjection}"></i></span>
										</td>
										<td style="color: {{totalIncomeColor}}">{{totalIncome | number:0}}</td>
										<td style="color: {{plusMinusIncome}}">{{ (projectedIncome - totalIncome) | number:0}}</td>
									</tr>
									<tr>
										<td>Bills <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></td>
										<td>
											<span ng-show="!bytBillProjection">{{projectedBills | number:0}}</span>
											<span ng-show="bytBillProjection">												
												<input style="width: 50px; display:inline;" class='form-control input-sm' type='number' name="projectedBill" ng-model='projectedBills' required>
											</span>
											<span style="display:inline;" ng-click="bytBillProjection = !bytBillProjection; editBillProjectionFunc()"> <i ng-class="{'glyphicon glyphicon-edit': !bytBillProjection, 'glyphicon glyphicon-ok': bytBillProjection}"></i></span>
										</td>
										<td style="color: {{totalBillsColor}}">{{totalBills | number:0}}</td>
										<td style="color: {{plusMinusBills}}">{{projectedBills - totalBills | number:0}}</td>
									</tr>
									<tr>
										<td>Expenses</td>
										<td>
											<span ng-show="!bytExpProjection">{{projectedExpenses | number:0}}</span>
											<span ng-show="bytExpProjection">												
												<input style="width: 50px; display:inline;" class='form-control input-sm' type='number' name="bytExpProjection" ng-model='projectedExpenses' required>
											</span>
											<span style="display:inline;" ng-click="bytExpProjection = !bytExpProjection; editExpProjectionFunc()"> <i ng-class="{'glyphicon glyphicon-edit': !bytExpProjection, 'glyphicon glyphicon-ok': bytExpProjection}"></i></span>
										</td>
										<td style="color: {{totalSpentColor}}">{{totalSpent | number:0}}</td>
										<td style="color: {{plusMinusExpenses}}">{{projectedExpenses - totalSpent | number:0}}</td>
									</tr>
									<tr>
										<td>Savings</td>
										<td>{{projectedIncome - projectedBills - projectedExpenses | number:0}}</td>
										<td style="color: {{totalSavingsColor}}">{{totalIncome - totalBills - totalSpent|number:0}}</td>
										<td style="color: {{plusMinusSavings}}">{{(   (projectedIncome - projectedBills - projectedExpenses) - (totalIncome - totalBills - totalSpent)    ) | number:0}}</td>
									</tr>
								</tbody>
							</table>
						</section>
					</section>
				</section>	
				<section class="row animate-show" ng-show="byt_show_section">
					<section class="table-responsive">
						<section class="dashboard_analysis">
							<table class="table">
								<tbody>
									<tr>										
										<td class="dashboard_text_analysis_1">{{savingMoneyBaby}}</td>
									</tr>
								</tbody>
							</table>
						</section>						
					</section>
				</section>				
				<section class="row">
					<section class="table-responsive">
						<section class="dashboard_analysis">
						<i role="button" class="glyphicon glyphicon-question-sign" data-toggle="modal" data-target="#expAnalysisModal"></i>
						<section id="expAnalysisModal" class="modal fade" role="dialog">
							<section class="modal-dialog">
								<!-- Modal content-->
								<section class="modal-content">
									<section class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h4 class="modal-title">Up by / Down by</h4>
									</section>
									<section class="modal-body">
										<iframe width="200" height="180" src="https://www.youtube.com/embed/P-tuNdhD5_k" frameborder="0" allowfullscreen></iframe>
										<p>-----</p>
										<p>If the Up by number is greater than zero than you are doing well :) and expected to spend less than the Expense projection you established at the beginning of the month. If the Down by number is red then you are spending more than your daily budget on average and may exceed the Expense projection you established at the beginning of the month. Therefore, build your tomorrow one day at a time and spend less than your daily budget or less than your Up by number.</p>
									</section>
									<section class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									</section>
								</section>
							</section>
						</section>
							<table class="table">	
								<tbody>
									<tr>
										<td class="dashboard_analysis_1">Expenses</td>
										<td class="dashboard_analysis_2">{{projectedExpenses|number:0}}</td>
									</tr>	
									<tr>
										<td class="dashboard_analysis_1">Total spent</td>
										<td class="dashboard_analysis_2">{{totalSpent|number:0}}</td>
									</tr>
									<tr>
										<td class="dashboard_analysis_1">Leftover</td>
										<td class="dashboard_analysis_2">{{leftOver|number:0}}</td>
									</tr>
									<tr>
										<td class="dashboard_analysis_1">{{specialVarUpByWord}}</td>
										<td class="dashboard_analysis_2" style="color: {{specialVarUpBy}}">{{upBy | number:0}}</td>
									</tr>			
								</tbody>
							</table>
						</section>
					</section>								
				</section>	
				<section class="row animate-show" ng-show="byt_show_section">
					<section class="table-responsive">
						<section class="dashboard_analysis">
							<table class="table">
								<tbody>
									<tr>										
										<td class="dashboard_text_analysis_1">{{upByComment}}</td>
									</tr>
								</tbody>
							</table>
						</section>						
					</section>
				</section>
				<section class="row">
					<section class="table-responsive">
						<section class="dashboard_analysis">
							<i role="button" class="glyphicon glyphicon-question-sign" data-toggle="modal" data-target="#dailyBudgetModal"></i>
							<section id="dailyBudgetModal" class="modal fade" role="dialog">
								<section class="modal-dialog">
									<!-- Modal content-->
									<section class="modal-content">
										<section class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times;</button>
											<h4 class="modal-title">Daily budget</h4>
										</section>
										<section class="modal-body">
											<iframe width="200" height="180" src="https://www.youtube.com/embed/MIl0uldy5a8" frameborder="0" allowfullscreen></iframe>
											<p>-----</p>
											<p>Daily budget  =  expense projection  / # of days in the current month</p>
										</section>
										<section class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
										</section>
									</section>
								</section>
							</section>
							<table class="table">	
								<tbody>
									<tr>
										<td class="dashboard_analysis_1">Daily budget</td>
										<td class="dashboard_analysis_2">{{dailyBudget|number:0}}</td>
									</tr>	
									<tr>
										<td class="dashboard_analysis_1">Days left</td>
										<td class="dashboard_analysis_2">{{daysLeft|number:0}}</td>
									</tr>
									<tr>
										<td class="dashboard_analysis_1">Period</td>
										<td class="dashboard_analysis_2">{{periodStart| date:'MM/dd/yyyy'}} - {{periodEnd}}</td>
									</tr>	
								</tbody>
							</table>
						</section>
					</section>								
				</section>
				<section class="row animate-show" ng-show="byt_show_section">
					<section class="table-responsive">
						<section class="dashboard_analysis">
							<table class="table">
								<tbody>
									<tr>										
										<td class="dashboard_text_analysis_1">Try your best to spend less than your daily budget. Gain your freedom one dollar at a time</td>
									</tr>
								</tbody>
							</table>
						</section>						
					</section>
				</section>
			</script>
			<!--Income stuff -->
			<script type="text/ng-template" id="/income.html">
				<section class="row">					
					<a href="https://youtu.be/EbCn4uEfbtM">Tutorial</a>				
					<section class="dashboard_nav">
						<ul ng-show='{{ isLoggedIn() }}'>							
							<li role="presentation" class="dashboard_nav_second" ng-click="dashboard_spinner=!dashboard_spinner">
								<a class="" href="/#/dashboard">
									<span ><i ng-class="{'fa fa-refresh fa-spin': dashboard_spinner, '': !dashboard_spinner}"></i></span> Dashboard
								</a>									
							</li>
							<li role="presentation" class="dashboard_nav_second">
								<a href="/#/income">Income</a>
								<i role="button" class="glyphicon glyphicon-question-sign" data-toggle="modal" data-target="#incomeModal"></i>
								<section id="incomeModal" class="modal fade" role="dialog">
									<section class="modal-dialog">
										<!-- Modal content-->
										<section class="modal-content">
											<section class="modal-header">
												<button type="button" class="close" data-dismiss="modal">&times;</button>
												<h4 class="modal-title">Income</h4>
											</section>
											<section class="modal-body">
												<iframe width="200" height="180" src="https://www.youtube.com/embed/Q2n3XcrwsFs" frameborder="0" allowfullscreen></iframe>
												<p>-----</p>
												<p>Record any kind of money that enters your economy or bank accounts here. Make sure to only record your income after you have received it - not before. Doing so will ensure that the data that is entered is accurate.</p>
											</section>
											<section class="modal-footer">
												<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
											</section>
										</section>
									</section>
								</section>
							</li>
							<li role="presentation" class="dashboard_nav_third" ng-click="bills_spinner=!bills_spinner">
								<a class="" href="/#/bills">
									<span ><i ng-class="{'fa fa-refresh fa-spin': bills_spinner, '': !bills_spinner}"></i></span> Bills
								</a>									
							</li>
							<li role="presentation" class="dashboard_nav_fourth" ng-click="expenses_spinner=!expenses_spinner">
								<a class="" href="/#/expenses">
									<span ><i ng-class="{'fa fa-refresh fa-spin': expenses_spinner, '': !expenses_spinner}"></i></span> Expenses
								</a>									
							</li>
							<!--
							<li role="presentation" class="dashboard_nav_fifth" ng-click="edu_spinner=!edu_spinner">
								<a class="" href="/#/education">
									<span ><i ng-class="{'fa fa-refresh fa-spin': edu_spinner, '': !edu_spinner}"></i></span> Edu
								</a>									
							</li>
							-->
						</ul>	
					</section>
				</section>
				<section ng-show="allIncome.length > 0" style="font-size: 12px; text-align:center;">
					Last income was entered on {{lastVisit.date | date:'MM/dd'}}
				</section>
				<section class="row" id="allIncomeTransactions">
					<section class="expenses">
						<section ng-show="allIncome.length > 0" class="panel-group all-expenses" id="accordion" role="tablist" aria-multiselectable="true">
							<section class="panel panel-title" >
								<section class="panel-heading" role="tab" id="headingOne">
									<section class="panel-title" style="font-size:14px;">      									
										<a role="button" data-toggle="collapse" data-target="#collapse" aria-expanded="true" aria-controls="collapse" style="text-decoration:none" ng-click="byt_active=!byt_active">
										<i ng-class="{ 'glyphicon glyphicon-plus': !byt_active, 'glyphicon glyphicon-minus': byt_active }"></i>  All income</a>
									</section>
								</section>
								<section id="collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
									<section ng-repeat="income in allIncome">
										<section class="panel-body" style="padding:13px">
											<section style="width:20%; float:left; text-align:center; display:inline">{{income.date | date:'MM/dd'}}</section>
											<section style="width:40%; float:left; text-align:center; display:inline">{{income.category}}</section>
											<section style="width:30%; float:left; text-align:center; display:inline">{{income.amount | number:2}}
											</section>
											<section role="button" style="width:10%; float:right; text-align:center; display:inline" ng-click="removeIncome($index)"><i class="glyphicon glyphicon-remove"></i></section>
										</section>
									</section>
								</section>
							</section>    							
						</section>
						<section class="panel-group">
  							<section class="panel" ng-repeat="category in categories | orderBy: '-total'" ng-if="category.total > 0">
    							<section class="panel-heading">
      								<section class="panel-title" style="font-size:14px;">      									
        								<p style="text-decoration:none; margin:2px;">
        								{{category.category}} - {{category.total | number:0}}</p>
      								</section>
    							</section>    					
    						</section>    							
						</section>
				    </section>
				</section>
				<section> <!-- novalidate disables brower validation -->
					<form novalidate name='monthlyIncomeForm' ng-submit='incomeForm()'>
						<section class="form-group">
							<label>Category</label>
							<section ng-messages="monthlyIncomeForm.monthlyIncomeCategory.$error">
  								<section ng-message="required" class="validation_1">*Required</section>
							</section>

							<select class="form-control" ng-options="category.id as category.value for category in monthlyIncomeCategories" name="monthlyIncomeCategory" ng-model='category' required>
								<option value="" selected disabled>Please choose</option>								
							</select>								
						</section>
						<section class="form-group">
							<label>Amount</label>
							<section ng-messages="monthlyIncomeForm.monthlyIncomeAmount.$error"> <!-- monthlyIncomeForm.monthlyExpAmount.$error is an angular expression -->
  								<section ng-message="required" class="validation_1">*Required</section>
							</section>
							<!-- form-control is a bootstarp class. step attribute specifies the legal number intervals for an input field -->
							<input class='form-control' type='number' placeholder='1700' name="monthlyIncomeAmount" ng-model='amount' step="any" required>								
						</section>
						<!-- Income question modal -->
						<section class="form-group">
							<label>Money received</label> <i role="button" class="glyphicon glyphicon-question-sign" data-toggle="modal" data-target="#myModal"></i>
							<section id="myModal" class="modal fade" role="dialog">
								<section class="modal-dialog">
									<!-- Modal content-->
									<section class="modal-content">
										<section class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times;</button>
											<h4 class="modal-title">Money received?</h4>
										</section>
										<section class="modal-body">
											<p>Only record income after you have received payment - not before. Doing so will ensure that the data that you are adding is accurate.</p>
										</section>
										<section class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
										</section>
									</section>
								</section>
							</section>
							<select class="form-control" name="monthlyIncomeQuestion" ng-model='question'>
								<option value="" selected disabled>Please choose</option>
								<option value="Yes">Yes - I have already received the income described above</option>						
							</select>								
						</section>
						<section class="form-group">
							<button ng-click="goToAllIncome()" type="submit" ng-disabled="monthlyIncomeForm.$invalid" class="btn btn-default btn-block btn-lg">Add Income</button>
						</section>									
					</form>
				</section>
			</script>	
			<!--Bills stuff -->
			<script type="text/ng-template" id="/bills.html">
				<section class="row">					
					<a href="https://youtu.be/EbCn4uEfbtM">Tutorial</a>				
					<section class="dashboard_nav">
						<ul ng-show='{{ isLoggedIn() }}'>							
							<li role="presentation" class="dashboard_nav_second" ng-click="dashboard_spinner=!dashboard_spinner">
								<a class="" href="/#/dashboard">
									<span ><i ng-class="{'fa fa-refresh fa-spin': dashboard_spinner, '': !dashboard_spinner}"></i></span> Dashboard
								</a>									
							</li>
							<li role="presentation" class="dashboard_nav_second" ng-click="income_spinner=!income_spinner">
								<a class="" href="/#/income">
									<span ><i ng-class="{'fa fa-refresh fa-spin': income_spinner, '': !income_spinner}"></i></span> Income
								</a>									
							</li>
							<li role="presentation" class="dashboard_nav_third">
								<a href="/#/bills">Bills</a>
								<i role="button" class="glyphicon glyphicon-question-sign" data-toggle="modal" data-target="#billsModal"></i>
								<section id="billsModal" class="modal fade" role="dialog">
									<section class="modal-dialog">
										<!-- Modal content-->
										<section class="modal-content">
											<section class="modal-header">
												<button type="button" class="close" data-dismiss="modal">&times;</button>
												<h4 class="modal-title">Bills</h4>
											</section>
											<section class="modal-body">
												<iframe width="200" height="180" src="https://www.youtube.com/embed/Je6PxS-6Ljs" frameborder="0" allowfullscreen></iframe>
												<p>-----</p>
												<p>Bills are fixed monthly expenses that usually take place on a given day. A company usually initiates the charge and that charge usually takes place regardless of whether you may have used a product or service. A good example of a bill is a phone bill.</p>
											</section>
											<section class="modal-footer">
												<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
											</section>
										</section>
									</section>
								</section>
							</li>
							<li role="presentation" class="dashboard_nav_fourth" ng-click="expenses_spinner=!expenses_spinner">
								<a class="" href="/#/expenses">
									<span ><i ng-class="{'fa fa-refresh fa-spin': expenses_spinner, '': !expenses_spinner}"></i></span> Expenses
								</a>									
							</li>
							<!--
							<li role="presentation" class="dashboard_nav_fifth" ng-click="edu_spinner=!edu_spinner">
								<a class="" href="/#/education">
									<span ><i ng-class="{'fa fa-refresh fa-spin': edu_spinner, '': !edu_spinner}"></i></span> Edu
								</a>									
							</li>
							-->
						</ul>	
					</section>
				</section>
				<section ng-show="bills.length > 0" style="font-size: 12px; text-align:center;">
					Last bill was entered on {{lastVisit.date | date:'MM/dd'}}
				</section>
				<section class="row" id="allBillTransactions">
					<section class="expenses">
						<section ng-show="bills.length > 0" class="panel-group all-expenses" id="accordion" role="tablist" aria-multiselectable="true">
  							<section class="panel panel-info" >
    							<section class="panel-heading" role="tab" id="headingOne">
      								<section class="panel-title" style="font-size:14px;">      									
        								<a role="button" data-toggle="collapse" data-target="#collapse" aria-expanded="true" aria-controls="collapse" style="text-decoration:none" ng-click="byt_active=!byt_active">
        								<i ng-class="{ 'glyphicon glyphicon-plus': !byt_active, 'glyphicon glyphicon-minus': byt_active }"></i>  All bills</a>
      								</section>
    							</section>
    							<section id="collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
    								<section ng-repeat="bill in bills">
										<section class="panel-body" style="padding:13px">
											<section style="width:20%; float:left; text-align:center; display:inline">{{bill.date | date:'MM/dd'}}</section>
											<section style="width:40%; float:left; text-align:center; display:inline">{{bill.category}}</section>
											<section style="width:30%; float:left; text-align:center; display:inline">{{bill.amount | number:2}}
											</section>
											<section role="button" style="width:10%; float:right; text-align:center; display:inline" ng-click="removeBill($index)"><i class="glyphicon glyphicon-remove"></i></section>
										</section>
    								</section>
  								</section>
    						</section>    							
						</section>
						<section class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  							<section class="panel panel-info" ng-repeat="category in categories | orderBy: '-total'" ng-if="category.total > 0">
    							<section class="panel-heading" role="tab" id="headingOne">
      								<section class="panel-title" style="font-size:14px;">      									
        								<a role="button" data-toggle="collapse" data-target="#collapse{{$index}}" aria-expanded="true" aria-controls="collapse{{$index}}" style="text-decoration:none" ng-click="active=!active">
        								<i ng-class="{ 'glyphicon glyphicon-plus': !active, 'glyphicon glyphicon-minus': active}"></i>  {{category.category}} - {{category.total | number:0}}</a>
      								</section>
    							</section>
    							<section id="collapse{{$parent.$index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
    								<section ng-repeat="subcategory in category.subCategory | orderBy: '-total'" ng-if="subcategory.total > 0">
										<section class="panel-body" style="padding:13px">
											<section style="width:50%; float:left; text-align:center; display:inline">{{subcategory.name}}</section>
											<section style="width:50%; float:right; text-align:center; display:inline">{{subcategory.total | number:0}}</section>
										</section>
    								</section>
  								</section>
    						</section>    							
						</section>
				    </section>
				</section>
				<section> <!-- novalidate disables brower validation -->
					<form novalidate name='monthlyBillForm' ng-submit='billForm()'>
						<section class="form-group">
							<label>Category</label>
							<section ng-messages="monthlyBillForm.monthlyBillCategory.$error">
  								<section ng-message="required" class="validation_1">*Required</section>
							</section>

							<select class="form-control" ng-options="category.id as category.value for category in monthlyBillsCategories" name="monthlyBillCategory" ng-model='category' required>
								<option value="" selected disabled>Please choose</option>								
							</select>								
						</section>
						<section class="form-group">
							<label>Type</label>
							<section ng-messages="monthlyBillForm.monthlyBillType.$error">
  								<section ng-message="required" class="validation_1">*Required</section>
							</section>
							<select ng-disabled="monthlyBillForm.monthlyBillCategory.$invalid" class="form-control" ng-model="subCategory" name="monthlyBillType" ng-options="subCategory.value as subCategory.value for subCategory in monthlyBillsSubCategories[category]" required>
								<option value="">Please choose</option>					
							</select>	
						</section>
						<section class="form-group">
							<label>Amount</label>
							<section ng-messages="monthlyBillForm.monthlyBillAmount.$error"> <!-- monthlyExpForm.monthlyExpAmount.$error is an angular expression -->
  								<section ng-message="required" class="validation_1">*Required</section>
							</section>
							<!-- form-control is a bootstarp class. step attribute specifies the legal number intervals for an input field -->
							<input class='form-control' type='number' placeholder='1550' name="monthlyBillAmount" ng-model='amount' step="any" required>								
						</section>
						<!-- Bill question modal -->
						<section class="form-group">
							<label>Bill paid</label> <i role="button" class="glyphicon glyphicon-question-sign" data-toggle="modal" data-target="#myModal"></i>
							<section id="myModal" class="modal fade" role="dialog">
								<section class="modal-dialog">
									<!-- Modal content-->
									<section class="modal-content">
										<section class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times;</button>
											<h4 class="modal-title">Bill paid?</h4>
										</section>
										<section class="modal-body">
											<p>Only record a bill payment after you have already paid the bill - not before. Doing so will ensure that the data that you are entering is accurate.</p>
										</section>
										<section class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
										</section>
									</section>
								</section>
							</section>
							<select class="form-control" name="monthlyBillQuestion" ng-model='question'>
								<option value="" selected disabled>Please choose</option>
								<option value="Yes">Yes - I have already paid the bill described above</option>						
							</select>								
						</section>		
						<section class="form-group">
							<button ng-click="goToAllBills()" type="submit" ng-disabled="monthlyBillForm.$invalid" class="btn btn-default btn-block btn-lg">Add Bill</button>
						</section>	
					</form>
				</section>	
			</script>	
			<!--Monthly expenses --> 
			<script type="text/ng-template" id="/expenses.html">
				<section class="row">					
					<a href="https://youtu.be/EbCn4uEfbtM">Tutorial</a>				
					<section class="dashboard_nav">
						<ul ng-show='{{ isLoggedIn() }}'>							
							<li role="presentation" class="dashboard_nav_second" ng-click="dashboard_spinner=!dashboard_spinner">
								<a class="" href="/#/dashboard">
									<span ><i ng-class="{'fa fa-refresh fa-spin': dashboard_spinner, '': !dashboard_spinner}" style="font-size:12px"></i></span> Dashboard
								</a>									
							</li>
							<li role="presentation" class="dashboard_nav_second" ng-click="income_spinner=!income_spinner">
								<a class="" href="/#/income">
									<span ><i ng-class="{'fa fa-refresh fa-spin': income_spinner, '': !income_spinner}" style="font-size:12px"></i></span> Income
								</a>									
							</li>
							<li role="presentation" class="dashboard_nav_third" ng-click="bills_spinner=!bills_spinner">
								<a class="" href="/#/bills">
									<span ><i ng-class="{'fa fa-refresh fa-spin': bills_spinner, '': !bills_spinner}" style="font-size:12px"></i></span> Bills
								</a>									
							</li>
							<li role="presentation" class="dashboard_nav_fourth">
								<a href="/#/expenses">Expenses</a>
								<i role="button" class="glyphicon glyphicon-question-sign" data-toggle="modal" data-target="#expensesModal"></i>
								<section id="expensesModal" class="modal fade" role="dialog">
									<section class="modal-dialog">
										<!-- Modal content-->
										<section class="modal-content">
											<section class="modal-header">
												<button type="button" class="close" data-dismiss="modal">&times;</button>
												<h4 class="modal-title">Expenses</h4>
											</section>
											<section class="modal-body">
												<iframe width="200" height="180" src="https://www.youtube.com/embed/nc4VkN4duk0" frameborder="0" allowfullscreen></iframe>
												<p>-----</p>
												<p>Expenses are usually day-to-day variable expenditures that are mostly within your control. For example, groceries are usually expenses because you can go shopping at the supermarket whenever you'd like.</p>
											</section>
											<section class="modal-footer">
												<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
											</section>
										</section>
									</section>
								</section>
							</li>
							<!--
							<li role="presentation" class="dashboard_nav_fifth" ng-click="edu_spinner=!edu_spinner">
								<a class="" href="/#/education">
									<span ><i ng-class="{'fa fa-refresh fa-spin': edu_spinner, '': !edu_spinner}" style="font-size:12px"></i></span> Edu
								</a>									
							</li>
							-->
						</ul>	
					</section>
				</section>
				<section ng-show="monthlyExpenses.length > 0" style="font-size: 12px; text-align:center;">
					Last expense was entered on {{lastVisit.date | date:'MM/dd'}}
				</section>
				<section class="row" id="allExpenseTransactions">
					<section class="expenses">
						<section ng-show="monthlyExpenses.length > 0" class="panel-group all-expenses" id="accordion" role="tablist" aria-multiselectable="true">
  							<section class="panel panel-info" >
    							<section class="panel-heading" role="tab" id="headingOne">
      								<section class="panel-title" style="font-size:14px;">      									
        								<a role="button" data-toggle="collapse" data-target="#collapse" aria-expanded="true" aria-controls="collapse" style="text-decoration:none" ng-click="byt_active=!byt_active">
        								<i ng-class="{ 'glyphicon glyphicon-plus': !byt_active, 'glyphicon glyphicon-minus': byt_active }"></i>  All expenses</a>
      								</section>
    							</section>
    							<section id="collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
    								<section ng-repeat="expense in monthlyExpenses">
										<section class="panel-body" style="padding:13px">
											<section style="width:20%; float:left; text-align:center; display:inline">{{expense.date | date:'MM/dd'}}</section>
											<section style="width:40%; float:left; text-align:center; display:inline">{{expense.category}}</section>
											<section style="width:30%; float:left; text-align:center; display:inline">{{expense.amount | number:2}}
											</section>
											<section role="button" style="width:10%; float:right; text-align:left; display:inline" ng-click="removeExpense($index)"><i class="glyphicon glyphicon-remove"></i></section>				
										</section>
    								</section>
  								</section>
    						</section>    							
						</section>
						<section class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  							<section class="panel panel-info" ng-repeat="category in categories | orderBy: '-total'" ng-if="category.total > 0">
    							<section class="panel-heading" role="tab" id="headingOne">
      								<section class="panel-title" style="font-size:14px;">      									
        								<a role="button" data-toggle="collapse" data-target="#collapse{{$index}}" aria-expanded="true" aria-controls="collapse{{$index}}" style="text-decoration:none" ng-click="active=!active">
        								<i ng-class="{ 'glyphicon glyphicon-plus': !active, 'glyphicon glyphicon-minus': active }"></i>  {{category.category}} - {{category.total | number:0}}</a>
      								</section>
    							</section>
    							<section id="collapse{{$parent.$index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
    								<section ng-repeat="subcategory in category.subCategory | orderBy: '-total'" ng-if="subcategory.total > 0">
										<section class="panel-body" style="padding:13px">
											<section style="width:50%; float:left; text-align:center; display:inline">{{subcategory.name}}</section>
											<section style="width:50%; float:right; text-align:center; display:inline">{{subcategory.total | number:0}}</section>
										</section>
    								</section>
  								</section>
    						</section>    							
						</section>
				    </section>
				</section>
				<section> <!-- novalidate disables brower validation -->
					<form novalidate name='monthlyExpForm' ng-submit='monthlyExpenseForm()'>						
						<section class="form-group">
							<label>Category</label>
							<section ng-messages="monthlyExpForm.monthlyExpCategory.$error">
  								<section ng-message="required" class="validation_1">*Required</section>
							</section>
							<select class="form-control" ng-options="category.id as category.value for category in monthlyExpensesCategories" name="monthlyExpCategory" ng-model='category' required>
								<option value="" selected disabled>Please choose</option>								
							</select>
						</section>
						<!-- this party of the form is where the user select the subcategory. In example, if clothing is the category selected above, then the user will then have the ability to slect what type of clothing here.-->
						<section class="form-group">
							<label>Type</label>
							<section ng-messages="monthlyExpForm.monthlyExpType.$error">
  								<section ng-message="required" class="validation_1">*Required</section>
							</section>
							<!-- ng-disabled seems to work by targeting the input field that needs to first be validated before this input field can become available -->
							<select ng-disabled="monthlyExpForm.monthlyExpCategory.$invalid" class="form-control" ng-model="subCategory" name="monthlyExpType" ng-options="subCategory.value as subCategory.value for subCategory in monthlyExpensesSubCategories[category]" required> <!-- Description in the model of the category input field --> <!--form-control is a Bootstrap class --> 
    							<option value="">Please choose</option>
    						</select>
						</section>
						<section class="form-group">
							<label>Amount</label>
							<section ng-messages="monthlyExpForm.monthlyExpAmount.$error"> <!-- monthlyExpForm.monthlyExpAmount.$error is an angular expression -->
  								<section ng-message="required" class="validation_1">*Required</section>
							</section>
							<!-- form-control is a bootstarp class. step attribute specifies the legal number intervals for an input field -->
							<input class='form-control' type='number' placeholder='5.49' name="monthlyExpAmount" ng-model='amount' step="any" required>
						</section>
						<!-- Expense question modal -->
						<section class="form-group">
							<label>Expense paid</label> <i role="button" class="glyphicon glyphicon-question-sign" data-toggle="modal" data-target="#myModal"></i>
							<section id="myModal" class="modal fade" role="dialog">
								<section class="modal-dialog">
									<!-- Modal content-->
									<section class="modal-content">
										<section class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times;</button>
											<h4 class="modal-title">Expense paid?</h4>
										</section>
										<section class="modal-body">
											<p>Only record an expense after you have already paid for the expense - not before. Doing so will ensure that the data that you are entering is accurate.</p>
										</section>
										<section class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
										</section>
									</section>
								</section>
							</section>
							<select class="form-control" name="monthlyExpQuestion" ng-model='question'>
								<option value="" selected disabled>Please choose</option>
								<option value="Yes">Yes - I have already paid the expense described above</option>						
							</select>								
						</section>		
						<section class="form-group">
							<button ng-click="goToAllExpenses()" type="submit" ng-disabled="monthlyExpForm.$invalid" class="btn btn-default btn-block btn-lg">Add Expense</button>
						</section>									
					</form>
				</section>				
			</script>	
		</body>
	</html>