<!-- education stuff -->			
<byt-navbar></byt-navbar>
<section class="container">
	<section class="col-md-6 col-md-offset-3 main_content">
		<section class="row">
		<home-arrow></home-arrow>				
			<!-- <a href="https://youtu.be/EbCn4uEfbtM">Tutorial</a> -->	
			<section class="dashboard_nav">
				<ul>							
					<li role="presentation" class="dashboard_nav_second" ng-click="dashboard_spinner=!dashboard_spinner">
						<a class="" href="/#/dashboard">
							<span ><i ng-class="{'fa fa-refresh fa-spin': dashboard_spinner, '': !dashboard_spinner}"></i></span> Dashboard
						</a>									
					</li>
					<li role="presentation" class="dashboard_nav_second" ng-click="income_spinner=!income_spinner">
						<a class="" href="/#/income">
							<span ><i ng-class="{'fa fa-refresh fa-spin': income_spinner, '': !income_spinner}"></i></span> Income
						</a>									
					</li>
					<li role="presentation" class="dashboard_nav_third" ng-click="bills_spinner=!bills_spinner">
						<a class="" href="/#/bills">
							<span ><i ng-class="{'fa fa-refresh fa-spin': bills_spinner, '': !bills_spinner}" style="font-size:12px"></i></span> Bills
						</a>									
					</li>
					<li role="presentation" class="dashboard_nav_fourth" ng-click="expenses_spinner=!expenses_spinner">
						<a class="" href="/#/expenses">
							<span ><i ng-class="{'fa fa-refresh fa-spin': expenses_spinner, '': !expenses_spinner}"></i></span> Expenses
						</a>									
					</li>
					<li role="presentation" class="dashboard_nav_fifth" ng-click="edu_spinner=!edu_spinner">
						<a class="" href="/#/education">
							<span ><i ng-class="{'fa fa-refresh fa-spin': edu_spinner, '': !edu_spinner}"></i></span> Education
						</a>									
					</li>
				</ul>	
			</section>
		</section>
		<section class="row">
			<section class="expenses">
				<p>Coming soon</p>					
			</section>
		</section>
	</section>
</section>