<!-- education stuff -->			
<byt-navbar></byt-navbar>
<section class="container">
	<section class="col-md-6 col-md-offset-3 main_content">
		<section class="row">
		<home-arrow></home-arrow>				
			<!-- <a href="https://youtu.be/EbCn4uEfbtM">Tutorial</a> -->	
			<section class="dashboard_nav">
				<ul>							
					<li role="presentation" class="dashboard_nav_second" ng-click="dashboard_spinner=!dashboard_spinner">
						<a class="" href="/#/dashboard">
							<span ><i ng-class="{'fa fa-refresh fa-spin': dashboard_spinner, '': !dashboard_spinner}"></i></span> Dashboard
						</a>									
					</li>
					<li role="presentation" class="dashboard_nav_second" ng-click="income_spinner=!income_spinner">
						<a class="" href="/#/income">
							<span ><i ng-class="{'fa fa-refresh fa-spin': income_spinner, '': !income_spinner}"></i></span> Income
						</a>									
					</li>
					<li role="presentation" class="dashboard_nav_third" ng-click="bills_spinner=!bills_spinner">
						<a class="" href="/#/bills">
							<span ><i ng-class="{'fa fa-refresh fa-spin': bills_spinner, '': !bills_spinner}" style="font-size:12px"></i></span> Bills
						</a>									
					</li>
					<li role="presentation" class="dashboard_nav_fourth" ng-click="expenses_spinner=!expenses_spinner">
						<a class="" href="/#/expenses">
							<span ><i ng-class="{'fa fa-refresh fa-spin': expenses_spinner, '': !expenses_spinner}"></i></span> Expenses
						</a>									
					</li>
					<li role="presentation" class="dashboard_nav_fifth" ng-click="edu_spinner=!edu_spinner">
						<a class="" href="/#/education">
							<span ><i ng-class="{'fa fa-refresh fa-spin': edu_spinner, '': !edu_spinner}"></i></span> Edu
						</a>									
					</li>
				</ul>	
			</section>
		</section>
		<section class="row text-center">
			<section class="byt_education">			
				<section>1. What is a 401K?</section>
				<section class="byt_watch_videos">					
					<iframe width="240" height="135" src="https://www.youtube.com/embed/UfGIanx6aII" frameborder="0" allowfullscreen></iframe>
				</section>			
			</section>
		</section>
		<section class="row text-center">
			<section class="byt_education">
				<section>2. Why is budgeting important?</section>
				<section class="byt_watch_videos">
					<iframe width="240" height="135" src="https://www.youtube.com/embed/Zi_CXBJy41o" frameborder="0" allowfullscreen></iframe>
				</section>
			</section>
		</section>
		<section class="row text-center">
			<section class="byt_education">
				<section>3. What is a stock market?</section>
				<section class="byt_watch_videos">
					<iframe width="240" height="135" src="https://www.youtube.com/embed/o_98WE5KPM8" frameborder="0" allowfullscreen></iframe>
				</section>
			</section>
		</section>
		<section class="row text-center">
			<section class="byt_education">
				<section>4. What you REALLY need to know about a 401k.</section>
				<section class="byt_watch_videos">
					<iframe width="240" height="135" src="https://www.youtube.com/embed/ezetgV1XTho?list=PL_w7a0Da8RBAWSgHBqSpO1ACOeyUNFHo5" frameborder="0" allowfullscreen></iframe>
				</section>
			</section>			
		</section>		
	</section>
</section>