<!--Monthly expenses --> 
<byt-navbar></byt-navbar>
<section class="container">
	<section class="col-md-6 col-md-offset-3 main_content">
		<section class="row">
			<home-arrow></home-arrow>		
			<section class="dashboard_nav">
				<ul>							
					<li role="presentation" class="dashboard_nav_second" ng-click="dashboard_spinner=!dashboard_spinner">
						<a class="" href="/#/dashboard">
							<span ><i ng-class="{'fa fa-refresh fa-spin': dashboard_spinner, '': !dashboard_spinner}" style="font-size:12px"></i></span> Dashboard
						</a>									
					</li>
					<li role="presentation" class="dashboard_nav_second" ng-click="income_spinner=!income_spinner">
						<a class="" href="/#/income">
							<span ><i ng-class="{'fa fa-refresh fa-spin': income_spinner, '': !income_spinner}" style="font-size:12px"></i></span> Income
						</a>									
					</li>
					<li role="presentation" class="dashboard_nav_third" ng-click="bills_spinner=!bills_spinner">
						<a class="" href="/#/bills">
							<span ><i ng-class="{'fa fa-refresh fa-spin': bills_spinner, '': !bills_spinner}" style="font-size:12px"></i></span> Bills
						</a>									
					</li>
					<li role="presentation" class="dashboard_nav_fourth">
						<a href="/#/expenses">Expenses</a>
						<i role="button" class="glyphicon glyphicon-question-sign" data-toggle="modal" data-target="#expensesModal"></i>
						<section id="expensesModal" class="modal fade" role="dialog">
							<section class="modal-dialog">
								<!-- Modal content-->
								<section class="modal-content">
									<section class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h4 class="modal-title">Expenses</h4>
									</section>
									<section class="modal-body">
										<iframe width="200" height="180" src="https://www.youtube.com/embed/nc4VkN4duk0" frameborder="0" allowfullscreen></iframe>
										<p>-----</p>
										<p>Expenses are usually day-to-day variable expenditures that are mostly within your control. For example, groceries are usually expenses because you can go shopping at the supermarket whenever you'd like.</p>
									</section>
									<section class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									</section>
								</section>
							</section>
						</section>
					</li>
					<li role="presentation" class="dashboard_nav_fifth" ng-click="edu_spinner=!edu_spinner">
						<a class="" href="/#/education">
							<span ><i ng-class="{'fa fa-refresh fa-spin': edu_spinner, '': !edu_spinner}" style="font-size:12px"></i></span> Edu
						</a>									
					</li>							
				</ul>	
			</section>
		</section>
		<section ng-show="monthlyExpenses.length > 0" style="font-size: 12px; text-align:center;">
			Last expense was entered on {{lastVisit.date | date:'MM/dd'}}
		</section>
		<section class="row" id="allExpenseTransactions">
			<section class="expenses">
				<section ng-show="monthlyExpenses.length > 0" class="panel-group all-expenses" id="accordion" role="tablist" aria-multiselectable="true">
						<section class="panel panel-info" >
						<section class="panel-heading" role="tab" id="headingOne">
								<section class="panel-title" style="font-size:14px;">      									
								<a role="button" data-toggle="collapse" data-target="#collapse" aria-expanded="true" aria-controls="collapse" style="text-decoration:none" ng-click="byt_active=!byt_active">
								<i ng-class="{ 'glyphicon glyphicon-plus': !byt_active, 'glyphicon glyphicon-minus': byt_active }"></i>  All expenses</a>
								</section>
						</section>
						<section id="collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
							<section ng-repeat="expense in monthlyExpenses">
								<section class="panel-body" style="padding:13px">
									<section style="width:20%; float:left; text-align:center; display:inline">{{expense.date | date:'MM/dd'}}</section>
									<section style="width:40%; float:left; text-align:center; display:inline">{{expense.category}}</section>
									<section style="width:30%; float:left; text-align:center; display:inline">{{expense.amount | number:2}}
									</section>
									<section role="button" style="width:10%; float:right; text-align:left; display:inline" ng-click="removeExpense($index)"><i class="glyphicon glyphicon-remove"></i></section>				
								</section>
							</section>
							</section>
					</section>    							
				</section>
				<section class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
						<section class="panel panel-info" ng-repeat="category in categories | orderBy: '-total'" ng-if="category.total > 0">
						<section class="panel-heading" role="tab" id="headingOne">
								<section class="panel-title" style="font-size:14px;">      									
								<a role="button" data-toggle="collapse" data-target="#collapse{{$index}}" aria-expanded="true" aria-controls="collapse{{$index}}" style="text-decoration:none" ng-click="active=!active">
								<i ng-class="{ 'glyphicon glyphicon-plus': !active, 'glyphicon glyphicon-minus': active }"></i>  {{category.category}} - {{category.total | number:0}}</a>
								</section>
						</section>
						<section id="collapse{{$parent.$index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
							<section ng-repeat="subcategory in category.subCategory | orderBy: '-total'" ng-if="subcategory.total > 0">
								<section class="panel-body" style="padding:13px">
									<section style="width:50%; float:left; text-align:center; display:inline">{{subcategory.name}}</section>
									<section style="width:50%; float:right; text-align:center; display:inline">{{subcategory.total | number:0}}</section>
								</section>
							</section>
							</section>
					</section>    							
				</section>
		    </section>
		</section>
		<section> <!-- novalidate disables brower validation -->
			<form novalidate name='monthlyExpForm' ng-submit='monthlyExpenseForm()'>						
				<section class="form-group">
					<label>Category</label>
					<section ng-messages="monthlyExpForm.monthlyExpCategory.$error">
							<section ng-message="required" class="validation_1">*Required</section>
					</section>
					<select class="form-control" ng-options="category.id as category.value for category in monthlyExpensesCategories" name="monthlyExpCategory" ng-model='category' required>
						<option value="" selected disabled>Please choose</option>								
					</select>
				</section>
				<!-- this party of the form is where the user select the subcategory. In example, if clothing is the category selected above, then the user will then have the ability to slect what type of clothing here.-->
				<section class="form-group">
					<label>Type</label>
					<section ng-messages="monthlyExpForm.monthlyExpType.$error">
							<section ng-message="required" class="validation_1">*Required</section>
					</section>
					<!-- ng-disabled seems to work by targeting the input field that needs to first be validated before this input field can become available -->
					<select ng-disabled="monthlyExpForm.monthlyExpCategory.$invalid" class="form-control" ng-model="subCategory" name="monthlyExpType" ng-options="subCategory.value as subCategory.value for subCategory in monthlyExpensesSubCategories[category]" required> <!-- Description in the model of the category input field --> <!--form-control is a Bootstrap class --> 
						<option value="">Please choose</option>
					</select>
				</section>
				<section class="form-group">
					<label>Amount</label>
					<section ng-messages="monthlyExpForm.monthlyExpAmount.$error"> <!-- monthlyExpForm.monthlyExpAmount.$error is an angular expression -->
							<section ng-message="required" class="validation_1">*Required</section>
					</section>
					<!-- form-control is a bootstarp class. step attribute specifies the legal number intervals for an input field -->
					<input class='form-control' type='number' placeholder='5.49' name="monthlyExpAmount" ng-model='amount' step="any" required>
				</section>
				<!-- Expense question modal -->
				<section class="form-group">
					<label>Expense paid</label> <i role="button" class="glyphicon glyphicon-question-sign" data-toggle="modal" data-target="#myModal"></i>
					<section id="myModal" class="modal fade" role="dialog">
						<section class="modal-dialog">
							<!-- Modal content-->
							<section class="modal-content">
								<section class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h4 class="modal-title">Expense paid?</h4>
								</section>
								<section class="modal-body">
									<p>Only record an expense after you have already paid for the expense - not before. Doing so will ensure that the data that you are entering is accurate.</p>
								</section>
								<section class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								</section>
							</section>
						</section>
					</section>
					<select class="form-control" name="monthlyExpQuestion" ng-model='question'>
						<option value="" selected disabled>Please choose</option>
						<option value="Yes">Yes - I have already paid the expense described above</option>						
					</select>								
				</section>		
				<section class="form-group">
					<button ng-click="goToAllExpenses()" type="submit" ng-disabled="monthlyExpForm.$invalid" class="btn btn-default btn-block btn-lg">Add Expense</button>
				</section>									
			</form>
		</section>
	</section>
</section>