<!-- Home stuff -->
<byt-navbar></byt-navbar>
<section class="col-lg-8 col-lg-offset-2">
	<section class="col-lg-10 col-lg-offset-1">
		<a href="/#/dashboard" class="thumbnail" style="border:0px;">
			<img src="/images/AngularPicBudget.jpg" alt="Budget">					
		</a>
		<a ui-sref="dashboard" class="thumbnail" style="border:0px;">
			<img src="/images/AngularPicRealEstate.jpg" alt="Budget">					
		</a>
		<a ui-sref="dashboard" class="thumbnail" style="border:0px;">
			<img src="/images/AngularPicInvestment.jpg" alt="Budget">					
		</a>									
	</section>
</section>
